<!--free delivery banner-->
<div [class.hidden]="isBannerHidden" class="free-delivery-banner">
  <p>Free delivery for orders over 100€ and within Europe!</p>
</div>


<header [class.hidden]="isHeaderHidden" [class.sticky]="isBannerHidden && !isHeaderHidden" class="header">
  <div class="container">
    <div class="logo">
      <a href="/" style="text-decoration: none; color: white">
      <h1  style="font-family: 'Californian FB'">VloTech.ee</h1>
      </a>
    </div>

  <div class="search-bar">
    <input
      type="text"
      placeholder="Search for products..."
      [(ngModel)]="searchTerm"
      (keyup.enter)="onSearch()"
    />
    <button type="button" (click)="onSearch()">
      <img src="assets/icons/search.png" alt="Search Icon" />
    </button>
  </div>



    <!-- Hamburger Menu -->
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>


    <!-- Navigation Links -->
    <!-- Navigation Links -->
    <nav class="nav">
      <a href="/home" title="Home">
        <img src="assets/icons/home.png" alt="Home Icon" />
      </a>
      <a href="/liked" title="Products">
        <img src="assets/icons/heart.png" alt="Products Icon" />
      </a>

      <!-- Cart Link - Navigate to login if not authenticated -->
      <a *ngIf="isAuthenticated; else loginCartLink" href="/cart" title="Cart">
        <img src="assets/icons/shopping-cart.png" alt="Cart Icon" />
      </a>

      <!-- Login Link for Cart if not authenticated -->
      <ng-template #loginCartLink>
        <a href="/login" title="Login">
          <img src="assets/icons/shopping-cart.png" alt="Cart Icon" />
        </a>
      </ng-template>

      <!-- User Profile Link -->
      <a *ngIf="isAuthenticated; else loginLink" (click)="navigateToProfileOrLogin()" title="User">
        <img src="assets/icons/user.png" alt="User Icon" />
      </a>
    </nav>

    <!-- Login Link if not authenticated -->
    <ng-template #loginLink>
      <a href="/login" title="Login">
        <img src="assets/icons/user.png" alt="Login Icon" />
      </a>
    </ng-template>



  </div>

  <!-- Mega Menu Section -->
  <div class="mega-menu">
    <ul class="main-menu">
      <li>
        <a [routerLink]="['/search']" [queryParams]="{ category: '', page: 1, search: '' }">All Products</a>
        <div class="submenu">
          <a [routerLink]="['/search']" [queryParams]="{ category: 'laptop', page: 1, search: '' }">Laptops</a>
          <a [routerLink]="['/search']" [queryParams]="{ category: 'desktops', page: 1, search: '' }">Desktops</a>
          <a [routerLink]="['/search']" [queryParams]="{ category: 'devices', page: 1, search: '' }">PC Devices</a>
          <a [routerLink]="['/search']" [queryParams]="{ category: 'smartwatches', page: 1, search: '' }">Smartwatches</a>
          <a [routerLink]="['/search']" [queryParams]="{ category: 'tv', page: 1, search: '' }">TVs</a>
        </div>
      </li>
      <li>
        <a [routerLink]="['/search']" [queryParams]="{ category: 'phones', page: 1, search: '' }">Phones</a>
        <div class="submenu">
          <a [routerLink]="['/search']" [queryParams]="{ category: 'phones', page: 1, search: '' }">Phones</a>
          <a [routerLink]="['/search']" [queryParams]="{ category: 'accessories', page: 1, search: '' }">Accessories</a>
        </div>
      </li>
      <li>
        <a href="#">Best Offers</a>
      </li>
      <li>
        <a href="#">Winter Deals</a>
      </li>
      <li>
        <a href="#">Gift Cards</a>
      </li>
      <li>
        <a href="#">Outlet</a>
      </li>
    </ul>
  </div>


</header>
