<div class="product-list-container">

  <!-- Left Sidebar for Filters -->
  <div class="filter-sidebar">
    <h3 class="filter-title">Filters</h3>
    <span class="line"></span>


    <!-- Brand Filter -->

    <div class="filter-group">
      <h4 class="filter-subtitle expandable" (click)="toggleFilter('brand')">
        Brand
        <span class="btn-section">{{ activeFilters['brand'] ? '-' : '+' }}</span>
      </h4>
      <div class="expandable-content" id="brand">
        <div class="filter-item" *ngFor="let brand of brands">
          <input
            type="checkbox"
            [id]="brand"
            [value]="brand"
            (change)="onBrandChange(brand, $event)"
            [checked]="selectedBrand.includes(brand)" />
          <label [for]="brand">{{ brand }}</label>
        </div>
      </div>
    </div>

    <span class="line"></span>

    <!-- Availability Filter -->
    <div class="filter-group">
      <h4 class="filter-subtitle expandable" (click)="toggleFilter('availability')">Availability <span class="btn-section">
    {{ activeFilters['availability'] ? '-' : '+' }}
  </span></h4>
      <div class="expandable-content" id="availability">
        <div class="filter-item">
          <input
            type="checkbox"
            id="in-stock"
            name="availability"
            value="in stock"
            (change)="onAvailabilityChange($event)"
            [checked]="selectedAvailability === 'in stock'" />
          <label for="in-stock">In Stock</label>
        </div>
        <div class="filter-item">
          <input
            type="checkbox"
            id="on-order"
            name="availability"
            value="on order"
            (change)="onAvailabilityChange($event)"
            [checked]="selectedAvailability === 'on order'" />
          <label for="on-order">On Order</label>
        </div>
      </div>
    </div>

    <span class="line"></span>



    <!-- Feature Filter -->
    <div class="filter-group">
      <h4 class="filter-subtitle expandable" (click)="toggleFilter('category')">
        Category <span class="btn-section">
      {{ activeFilters['category'] ? '-' : '+' }}
    </span>
      </h4>
      <div class="expandable-content" id="category">
        <div class="filter-item" *ngFor="let category of categories">
          <input
            type="checkbox"
            [id]="category"
            [value]="category"
            (change)="onCategoryChange(category, $event)"
            [checked]="selectedCategory.includes(category)" />
          <label [for]="category">{{ category }}</label>
        </div>
      </div>
    </div>

    <span class="line"></span>



    <!-- Reset Filters Button -->
    <button class="filter-reset-btn" (click)="resetFilters()">Reset Filters</button>
  </div>



  <!-- Main Section with Sorting Dropdown and Products -->
  <div class="main-content">
    <!-- Sorting Dropdown -->
    <div class="sort-container">
      <label for="sort" class="sort-label">Sort by:</label>
      <select id="sort" class="sort-select" (change)="onSortChange($event)">
        <option value="name_asc" [selected]="currentSort === 'name,asc'">Name (A-Z)</option>
        <option value="name_desc" [selected]="currentSort === 'name,desc'">Brand (A-Z)</option>
        <option value="price_asc" [selected]="currentSort === 'price,asc'">Price (Low to High)</option>
        <option value="price_desc" [selected]="currentSort === 'price,desc'">Price (High to Low)</option>
      </select>
    </div>

    <!-- Products Display -->
    <div class="products">
      <div class="product-card" *ngFor="let product of pagProducts" (click)="navigateToProductDetails(product.id)">

        <!-- Wishlist Icon -->
        <span class="wishlist-icon" (click)="toggleWishlist(product, $event)">
      <img [src]="product.inWishlist ? 'assets/icons/filledheart.png' : 'assets/icons/heart.png'" alt="Wishlist"  class="wishlist-image"/>
        </span>

        <img [src]="product.imageUrl" alt="{{ product.name }}" class="product-image" />
        <h4 class="product-name">{{ product.name }}</h4>
        <p class="product-description">Brand: {{ product.brand }}</p>
        <p class="product-price">Price: €{{ product.price }}</p>
        <p class="product-availability">Availability: {{ product.availability }}</p>
      </div>
    </div>

  </div>
  <!-- Right Sidebar for Ads -->
  <div class="ads-sidebar"></div>
</div>

<div class="pagination">
  <!-- First Page Button -->
  <button *ngIf="currPage > 2" (click)="goToFirstPage()" class="pagination-btn">1</button>

  <!-- Previous Page Button (only shown when there are 3 pages) -->
  <button *ngIf="totalPages === 3 && currPage > 1" (click)="goToPage(currPage - 1)" class="pagination-btn">Previous</button>

  <!-- Page Buttons for previous, current, and next pages -->
  <button *ngFor="let page of pageNumbers"
          [class.active]="page === currPage"
          (click)="goToPage(page)"
          class="pagination-btn">
    {{ page }}
  </button>

  <!-- Next Page Button (only shown when there are 3 pages) -->
  <button *ngIf="totalPages === 3 && currPage < totalPages" (click)="goToPage(currPage + 1)" class="pagination-btn">Next</button>

  <!-- Last Page Button -->
  <button *ngIf="currPage < totalPages - 1" (click)="goToLastPage()" class="pagination-btn">{{ totalPages }}</button>
</div>



