<div class="container">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <div class="row">
    <!-- Banner Section -->
    <div class="banner">
      <!-- Decorative Background Pattern -->
      <div class="pattern"></div>
      <h1 class="headline">Create an Account</h1>
      <p class="subheadline">Sign up to enjoy exclusive services and offers. It's quick and easy!</p>
    </div>

    <!-- Registration Form Section -->
    <div class="form-section">
      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">

        <!-- First Name -->
        <div [ngClass]="{'error-wrapper': firstName?.touched && firstName?.errors}" class="input-group">
          <input
            id="firstName"
            type="text"
            name="firstName"
            [(ngModel)]="user.firstName"
            placeholder="First Name"
            required
            #firstName="ngModel"
          />
          <div *ngIf="firstName?.touched && firstName?.errors?.['required']" class="error-message">
            First Name is required.
          </div>
        </div>

        <!-- Last Name -->
        <div [ngClass]="{'error-wrapper': lastName?.touched && lastName?.errors}" class="input-group">
          <input
            id="lastName"
            type="text"
            name="lastName"
            [(ngModel)]="user.lastName"
            placeholder="Last Name"
            required
            #lastName="ngModel"
          />
          <div *ngIf="lastName?.touched && lastName?.errors?.['required']" class="error-message">
            Last Name is required.
          </div>
        </div>

        <!-- Email -->
        <div [ngClass]="{'error-wrapper': email?.touched && (email?.errors?.['required'] || email?.errors?.['email'])}" class="input-group">
          <input
            id="email"
            type="email"
            name="email"
            [(ngModel)]="user.email"
            placeholder="Email Address"
            required
            #email="ngModel"
          />
          <div *ngIf="email?.touched && email?.errors?.['required']" class="error-message">
            Email is required.
          </div>
          <div *ngIf="email?.touched && email?.errors?.['email']" class="error-message">
            Please enter a valid email address.
          </div>
        </div>

        <!-- Password -->
        <div [ngClass]="{'error-wrapper': password?.touched && password?.errors}" class="input-group">
          <div class="input-control">
            <input
              id="password"
              type="password"
              name="password"
              [(ngModel)]="user.password"
              placeholder="Password"
              required
              #password="ngModel"
            />
            <button type="button" class="toggle-password-btn" (click)="togglePasswordVisibility('password')">
              <img src="assets/icons/eye.png" alt="Show Password" id="passwordIcon" class="password-icon">
            </button>
          </div>
          <div *ngIf="password?.touched && password?.errors?.['required']" class="error-message">
            Password is required.
          </div>
        </div>

        <!-- Confirm Password -->
        <div [ngClass]="{'error-wrapper': passwordConfirmationModel?.touched && (passwordConfirmationModel?.errors?.['required'] || passwordMismatch())}" class="input-group">
          <div class="input-control">
            <input
              id="passwordConfirmation"
              type="password"
              name="passwordConfirmation"
              [(ngModel)]="passwordConfirmation"
              placeholder="Confirm Password"
              required
              #passwordConfirmationModel="ngModel"
            />
            <button type="button" class="toggle-password-btn" (click)="togglePasswordVisibility('passwordConfirmation')">
              <img src="assets/icons/eye.png" alt="Show Password" id="passwordConfirmationIcon" class="password-icon">
            </button>
          </div>

          <div *ngIf="passwordConfirmationModel?.touched && passwordConfirmationModel?.errors?.['required']" class="error-message">
            Password confirmation is required.
          </div>
          <div *ngIf="passwordMismatch()" class="error-message">
            Passwords do not match.
          </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn" [disabled]="!registerForm.form.valid || passwordMismatch()">Create Account</button>
      </form>



      <div class="striped">
        <span class="striped-line"></span>
        <span class="striped-text">Or</span>
        <span class="striped-line"></span>
      </div>

      <div class="method">
        <!-- Google Login Button -->
        <div class="method-control">
          <a href="#" class="method-action">
            <i class="fab fa-google"></i> <!-- Google icon from Font Awesome -->
            <span>Sign in with Google</span>
          </a>
        </div>

        <!-- Facebook Login Button -->
        <div class="method-control">
          <a href="#" class="method-action">
            <i class="fab fa-facebook"></i> <!-- Facebook icon from Font Awesome -->
            <span>Sign in with Facebook</span>
          </a>
        </div>

        <!-- Apple Login Button -->
        <div class="method-control">
          <a href="#" class="method-action">
            <i class="fab fa-apple"></i> <!-- Apple icon from Font Awesome -->
            <span>Sign in with Apple</span>
          </a>
        </div>
      </div>

      <div class="footer">
        <p> Already have an account? <a href="/login" class="text text-links">Log in</a>
        </p>
      </div>
    </div>
  </div>
</div>
