
<footer class="site-footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-col">
        <h6>About</h6>
        <p class="text-justify">VloTech Shop is an online store that brings you the latest in tech products. We aim to make shopping for tech gadgets easy and enjoyable by offering a wide range of products and helpful information.</p>
      </div>

      <div class="footer-col">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="#">Smartphones</a></li>
          <li><a href="#">Laptops</a></li>
          <li><a href="#">TVs</a></li>
          <li><a href="#">Accessories</a></li>
        </ul>
      </div>

      <div class="footer-col">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>

  <div class="container">
    <div class="footer-row">
      <div class="footer-col">
        <p class="copyright-text">Copyright &copy; 2025 VloTech Shop. All Rights Reserved.</p>
      </div>


    </div>
  </div>
</footer>
